mixin failedTests(failed, passedCount)
  - const totalTests = passedCount + failed.length
  - const failedCount = failed.length
  - const penaltyPoints = failed.reduce((sum, test) => sum + (test.score || 0), 0)

  details.indent-1
    summary
      strong #{failedCount} of #{totalTests} tests failed - 
      code #{penaltyPoints} points
    table
      thead
        tr
          th Test
          th Penalty
      tbody
        each test in failed
          tr
            td= test.description
            td= test.score 